.div_container1 {

    display: flex;
    flex-direction: column;
    height: 2260px;
    width: auto;
    background-color: #001329;

}

.div_container1 span {

    color: #ffffff;
    font-size: 90px;
    padding-left: 100px;
    border: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}