
#imagemFundo{
    background-image: url(../assets/imagens/FundoCadastro.png);
    background-repeat: no-repeat;
    background-size: 100% 1400px;
}
.div_container3 {

width: 100%;
display: flex;
justify-content: center;

}


.div_cadastro {

    display: flex;
background-color: rgba(0, 0, 0, 0.9);
flex-direction: column;
width: 500px;
border: solid ;
align-items: center;
border-radius: 20px;
color: #ffffff;
}

.div_cadastro input{

width: 80%;


}

.div_cadastro span{

    display: flex;
width: 100%;
padding-left: 40px;
}


.div_cadastro a {

text-decoration: none;
color: #ffffff;
font-family: 'Roboto', sans-serif;

}


input {

padding: 10px;
padding-left: 10px;
padding-right: 50px;
border: none;
border-radius: 5px;
outline: none;
font-size: 20px;
background-color: #D9D9D9;

}

span {

    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

button {

padding: 15px;
width: 200px    ;
border-radius: 10px;
font-size: 20px;
background-color: #D9D9D9;

}


h1 {

text-align: center;
font-family: 'Roboto', sans-serif;

}


