.div_container4 {
    display: flex;
    height: 1000px;
    width: 100%;
    background-color: #001329;



}

a {

    text-decoration: none;
}


.div_direita h1 {

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
width: 100%;
padding-left: 190px;
font-size: 60px;

}


.div_direita {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;

}

.div_direita img {

    width: 550px;
    height: 341px;
    border-radius: 30px;
    border: solid;
    border-color: black;
}

.div_direita a {

    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
font-size: 25px;
}




.div_linha {

    width: 3px;
    height: 1000px;
    background-color: #696969;


}







.div_esquerda {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;

}

.div_esquerda h1 {

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
width: 100%;
font-size: 60px;

}


.div_esquerda img {

    width: 800px;
    height: 496px;
    border-radius: 30px;
    border: solid;
    border-color: black;

}



.div_esquerda span {

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;

}

.div_junto {

display: flex;
align-items: center;
flex-direction: column;
text-align: left;
width: 88%;

}