.div_container img {
    padding-left: 20px;
    width: 150px;
}

.div_container {

    display: flex;
    flex-direction: row;
    height: 150px;
    width: auto;
    background-color: black;
    justify-content: space-between;
}

.div_container a {

text-decoration: none;
color: #ffffff;


}

ul {
    color: #ffffff;
    font-size: 30px;
    gap: 50px;
    display: flex;
    justify-content: row;
    list-style: none;
    /* font-weight: 900; */
    align-items: center;
    padding-right: 50px;
}

.btn_Entrar {
    background-color: #000000;
    padding: 5px;
    font-size: 30px;
    border: 3px solid #0070CC;
    border-radius: 100px;
    color: #0070CC;
    width: 150px;
}

.btn_Registrar {
    background-color: #0070CC;
    border: 3px solid #0070CC;
    border-radius: 100px;
    color: #ffffff;
    padding: 5px;
    font-size: 30px;
    font-weight: 500;
    width: 150px;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* fim da navbar */

/* inicio Notícia em destaque */
.div_container1 {

    display: flex;
    flex-direction: column;
    height: 2260px;
    width: auto;
    background-color: #001329;

}

.div_container1 span {

    color: #ffffff;
    font-size: 90px;
    padding-left: 100px;
    border: 0%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.div_container1 img {
    display: flex;
    border-radius: 30px;
    justify-content: center;
    height: 910px;
    width: 1500px;
    align-self: center;

}


.div_container1 b {

    color: #ffffff;
    font-size: 90px;
    border: 0%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;

}

/* fim Notícia em destaque */


.div_linha {

    height: 3px;
    width: 1550px;
    background-color: #696969;
    align-self: center;

}

.div_container2 {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;

}

.div_container2 .div_card1 {
    background-color: #001329;
    padding: 10px;
    width: 475px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: start;
    font-size: 53px;
}

.div_card1 img {
    width: 475px;
    height: 295px;

}

.div_container2 .div_card2 {
    background-color: #001329;
    padding: 10px;
    width: 475px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: start;
    font-size: 53px;
}

.div_card2 img {
    width: 475px;
    height: 295px;

}

.div_container2 .div_card3 {
    background-color: #001329;
    padding: 10px;
    width: 475px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: start;
    font-size: 53px;
}

.div_card3 img {
    width: 475px;
    height: 295px;

}